extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.text-center Hola
                h2.text-center= datos[0].nomCompleto
                h3.text-center Bienvenido